@mixin layout-section {
  display: grid;
  grid-template-columns:
    minmax(var(--layout-padding), 1fr)
    minmax(0, var(--layout-width))
    minmax(var(--layout-padding), 1fr);
}

@mixin layout-inner {
  grid-column: 2;
  width: 100%;
}
