@use "../mixins" as *;

.button {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 0;
	padding: 0.5em 1.15em;
	border: 5px solid;
	border-color: var(--brdr);
	border-radius: 12px;

	font-family: var(--font-body);
	font-size: var(--font-19);
	font-weight: 700;
	color: var(--clr);
	text-decoration: none;

	background-color: var(--bg);
	outline: none;

	transition: color, background-color, border-color, scale;
	transition-timing-function: ease;
	transition-duration: 0.2s;

	@include hover {
		border-color: var(--hover-brdr);
		color: var(--hover-clr);
		background-color: var(--hover-bg);
	}

	&:focus-visible {
		border-color: var(--focus-brdr);

		color: var(--focus-clr);

		background-color: var(--focus-bg);
		outline: 1px solid var(--focus-outline);
		outline-offset: 2px;
	}

	&:active {
		scale: 0.95;
		border-color: var(--active-brdr);
		color: var(--active-clr);
		background-color: var(--active-bg);
	}

	&:disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.5;
	}
}

.button--large {
	padding-block: clamp(12px, 0.8vw + 0.5rem, 15px);
	padding-inline: clamp(24px, 1vw + 1rem, 30px);
	font-size: clamp(18px, 1vw + 0.8rem, 20px);
}

.button--primary {
	--clr: var(--background);
	--bg: var(--blue-light);
	--brdr: var(--blue-light);
	--hover-clr: var(--background);
	--hover-bg: var(--blue-dark);
	--hover-brdr: var(--blue-dark);
	--focus-clr: var(--background);
	--focus-bg: var(--blue-dark);
	--focus-brdr: var(--blue-dark);
	--focus-outline: var(--background);
	--active-clr: var(--background);
	--active-bg: var(--blue-dark);
	--active-brdr: var(--blue-dark);
}

.button--secondary {
	--clr: var(--green-dark);
	--bg: var(--background);
	--brdr: var(--green-dark);
	--hover-clr: var(--background);
	--hover-bg: var(--green-dark);
	--hover-brdr: var(--green-dark);
	--focus-clr: var(--background);
	--focus-bg: var(--green-dark);
	--focus-brdr: var(--green-dark);
	--focus-outline: var(--background);
	--active-clr: var(--background);
	--active-bg: var(--green-dark);
	--active-brdr: var(--green-dark);
}

.button--triary {
	--clr: var(--background);
	--bg: var(--indigo-light);
	--brdr: var(--indigo-light);
	--hover-clr: var(--background);
	--hover-bg: var(--indigo-dark);
	--hover-brdr: var(--indigo-dark);
	--focus-clr: var(--background);
	--focus-bg: var(--indigo-dark);
	--focus-brdr: var(--indigo-dark);
	--focus-outline: var(--foreground);
	--active-clr: var(--background);
	--active-bg: var(--indigo-dark);
	--active-brdr: var(--indigo-dark);
}

.button--danger {
	--clr: var(--red-soft);
	--bg: var(--background);
	--brdr: var(--red-soft);
	--hover-clr: var(--background);
	--hover-bg: var(--red-soft);
	--hover-brdr: var(--red-soft);
	--focus-clr: var(--background);
	--focus-bg: var(--red-soft);
	--focus-brdr: var(--red-soft);
	--focus-outline: var(--foreground);
	--active-clr: var(--background);
	--active-bg: var(--red-soft);
	--active-brdr: var(--red-soft);
}