@use "../mixins" as *;

@mixin link {
    position: relative;
    color: var(--link-clr);
    text-decoration: none;
    transition: color .2s ease, scale .2s ease;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      transform-origin: left;
      scale: 0 1;

      width: 100%;
      height: 1px;

      background-color: currentcolor;

      transition: inherit;
    }

    @include hover {
      color: var(--link-clr-hover);

      &::before {
        scale: 1 1;
      }
    }
}

@mixin card {
  position: relative;

  padding: clamp(16px, 2.2vw, 20px);
  border: 1px solid var(--grey-soft);
  border-radius: 12px;

  background-color: var(--background);
  box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
}