@use "@/styles/global" as *;

@mixin inputDecor {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 4px 8px;
	border: 1px solid var(--grey-dark);
	border-radius: 4px;

	font-family: inherit;
	font-size: inherit;
	color: var(--input-color);

	&:focus {
		outline: 2px solid var(--gmpx-color-primary);
	}
}

.form {
	--input-font-size: 14px;
	--input-color: black;
	--input-focus-color: var(--indigo-dark);
	--gmpx-font-size-base: var(--input-font-size);
	--gmpx-color-on-surface: var(--input-color);
	--gmpx-color-primary: var(--input-focus-color);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 100px 260px auto;
	gap: 70px 50px;

	:global {
		.react-datepicker-wrapper {
			width: 100%;
		}

		.react-datepicker-popper {
			z-index: 2;
		}
	}
}

.fieldset {
	position: relative;

	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;

	border: none;

	&:has([disabled]) {
		pointer-events: none;
		opacity: 0.6;
	}
}

.label {
	font-size: 26px;
	font-weight: bold;
	color: var(--indigo-dark);
}

.fieldBody {
	position: relative;

	display: flex;
	flex-grow: 1;
	align-items: flex-end;

	width: 100%;
}

.inputWrapper {
	position: relative;
	width: 100%;
	border-radius: 4px;

	&::before,
	&::after {
		content: '';

		position: absolute;
		top: 0;

		box-sizing: border-box;
		width: 35px;
		height: 100%;
		border: 1px solid var(--grey-dark);

		background-color: white;
	}

	&::before {
		left: 0;
		border-right: none;
		border-radius: 4px 0 0 4px;
	}

	&::after {
		right: 0;
		border-left: none;
		border-radius: 0 4px 4px 0;
	}

	.inputIcon {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 8px;
		translate: 0 -50%;

		color: black;
	}

	.customClear {
		cursor: pointer;

		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;

		width: 35px;
		height: 100%;
		border: none;

		font-size: 26px;

		background: transparent;
	}
}

.input {
	position: relative;
	max-height: 150px;

	@include inputDecor;

	padding: calc(var(--gmpx-font-size-base, 0.875rem) * 0.75) calc(var(--gmpx-font-size-base, 0.875rem) * 2.5);
}

.errorMessage {
	position: absolute;
	top: 105%;
	color: var(--red-dark);
}

.cityInput {
	width: 100%;
}

.cityStorageValue {
	position: absolute;
	z-index: 2;
	top: calc(100% + 8px);
	left: 35px;

	font-size: 0.85em;
	color: var(--input-color);
}

.rating {
	display: flex;
	gap: 4px;
}

.budget {
	display: flex;
	gap: 50px;
	align-items: center;
	width: 100%;

	.budgetRow {
		display: flex;
		flex-grow: 1;
		gap: 8px;
		align-items: center;
		justify-content: space-between;
	}

	.budgetLine {
		position: relative;
		flex-grow: 1;

		input[type="range"] {
			width: 100%;
			height: 6px;
			border-radius: 4px;

			appearance: none;
			background: var(--grey-light);
			outline: none;

			&::-webkit-slider-thumb {
				cursor: pointer;

				width: 16px;
				height: 16px;
				margin-top: -5px;
				border: none;
				border-radius: 50%;

				appearance: none;
				background: var(--input-focus-color);
			}

			&::-moz-budget-thumb {
				cursor: pointer;

				width: 16px;
				height: 16px;
				border: none;
				border-radius: 50%;

				background: var(--input-focus-color);
			}
		}

	}

	.budgetBubble {
		position: absolute;
		top: -25px;
		transform: translateX(-50%);

		padding: 2px 6px;
		border-radius: 4px;

		font-size: 12px;
		color: white;
		white-space: nowrap;

		background: var(--input-focus-color);
	}

	.budgetNumberInput {
		@include inputDecor;

		width: 100px;
	}
}

.textarea {
	@include inputDecor;

	resize: none;
	scrollbar-gutter: stable;
}

.image {
		@include inputDecor;
		padding: 0;

	.imageInput {
		opacity: 0;
		padding: 4px 8px;
		width: 100%;
		height: 100%;

		cursor: pointer;
	}

	.imagePreview {
		position: absolute;
		z-index: -1;
		bottom: 4px;
		left: 8px;

		width: 280px;
		height: 140px;

		img {
			width: 100%;
			height: 100%;
			border-radius: 4px;
			object-fit: cover;
		}
	}

	.imageMessage {
		position: absolute;
		z-index: -1;
		top: 10px;
		left: 12px;

		color: black;
	}
}

.buttons {
	position: relative;
	display: flex;
	gap: 12px;
	margin-top: 24px;
}

.inputError {
	outline: 1px solid var(--red-dark);
	animation: shake 0.25s ease;
}

.tooltip {
	padding: 0.5rem 0.75rem;
	border-radius: 8px;

	font-size: 0.85rem;
	color: black;

	background-color: var(--yellow-soft);
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-4px);
	}

	50% {
		transform: translateX(4px);
	}

	75% {
		transform: translateX(-4px);
	}

	100% {
		transform: translateX(0);
	}
}

.star {
	&--filled {
		color: gold;
		fill: gold;
	}

	&--outlined {
		color: lightgray;
		fill: lightgray;
	}
}

.api {
	display: none;
}

@include media-max(sm) {
	.form {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	.image {
		height: 200px;
	}
}