@use "@/styles/global" as *;

.wrapper {
  position: relative;
  display: flex;
}

.dropdownWrapper {
  position: absolute;
  z-index: 1;
  top: calc(100% + 8px);
  right: 0;
  left: unset;

  border: none;
  border-radius: 12px;

  outline: none;
  box-shadow: 0 8px 24px rgb(0 0 0 / 8%);
}

.dropdownContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  min-width: 240px;
  padding: 12px;
  border-radius: 12px;

  background: white;
  box-shadow: 0 8px 24px rgb(0 0 0 / 8%);
}

@include media-max(xs) {
  .dropdownWrapper {
    right: unset;
    left: 0;
  }
}