@use "@/styles/global" as *;

.hero {
	position: relative;

	height: calc(95svh - var(--header-h));
	min-height: 500px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	padding-top: clamp(20px, 6vw, 115px);
	margin-bottom: clamp(16px, 4vw, 30px);
}

.background {
	position: absolute;
	top: 0;
	left: 50%;
	translate: -50% calc(var(--header-h) * -1);

	width: 100vw;
	height: calc(100% + var(--header-h));

	z-index: -1;
	
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.45);
		z-index: 2;
		pointer-events: none;
	}

	.lowres {
		opacity: 1;
	}

	.highres {
		opacity: 0;
	}

	&.loaded {
		.highres {
			opacity: 1;
		}
		.lowres {
			opacity: 0;
		}
	}
}

.inner {
	display: grid;
	place-items: center;
	width: 70vw;
}

.title {
	font-size: var(--font-60);
	line-height: 1.1;

	margin-bottom: clamp(14px, 2vw, 26px);

	color: white;
}

.subtitle {
	font-size: var(--font-40);
	line-height: 1;

	margin-bottom: clamp(40px, 6vw, 70px);

	text-wrap: balance;
	color: white;
}

.buttons {
	display: flex;
	gap: 10px;

	@include media-max(xs) {
		flex-direction: column;

		button {
			width: 100%;
		}
	}
}