@use "@/styles/global" as *;

.hero {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: calc(95svh - var(--header-h));
	min-height: 500px;
	margin-bottom: clamp(16px, 4vw, 30px);
	padding-top: clamp(20px, 6vw, 115px);

	text-align: center;
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 50%;
	translate: -50% calc(var(--header-h) * -1);

	width: 100vw;
	height: calc(100% + var(--header-h));

	&::after {
		pointer-events: none;
		content: "";

		position: absolute;
		z-index: 2;
		inset: 0;

		background: rgb(0 0 0 / 45%);
	}


	.lowres {
		opacity: 1;
	}

	.highres {
		opacity: 0;
	}

	&.loaded {
		.highres {
			opacity: 1;
		}

		.lowres {
			opacity: 0;
		}
	}
}

.inner {
	display: grid;
	place-items: center;
	width: 70vw;
}

.title {
	margin-bottom: clamp(14px, 2vw, 26px);
	font-size: var(--font-60);
	line-height: 1.1;
	color: white;
}

.subtitle {
	margin-bottom: clamp(40px, 6vw, 70px);

	font-size: var(--font-40);
	line-height: 1;
	color: white;
	text-wrap: balance;
}

.buttons {
	display: flex;
	gap: 10px;

	@include media-max(xs) {
		flex-direction: column;

		button {
			width: 100%;
		}
	}
}

.scrollCue {
	position: relative;
	margin-bottom: clamp(8px, 2.5vh, 24px);

	display: flex;
	background: transparent;
	outline: none;
	border: none;

	opacity: 0.9;

	cursor: pointer;
	z-index: 3;
	animation: cue-bob 1.8s ease-in-out infinite;

	@include media-max(sm) {
		width: 40px;
		height: 40px;
	}
}

/* Плавающая анимация стрелки */
@keyframes cue-bob {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(6px);
	}
}