@use "@/styles/global" as *;

.inner {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: clamp(20px, 4vw, 50px);

	overflow: hidden;

	&::before {
		content: "";
		position: absolute;

		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		background-image: url("/images/backgrounds/about.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		opacity: 0;

		scale: 1.5;
		transition: scale 1.35s ease-in-out, opacity 1.35s ease-in-out;
	}

	&.scale-bg::before {
		scale: 1;
		opacity: 0.1;
	}

	@include media-max(sm) {
		flex-direction: column;
		align-items: center;
	}
}

.text {
	position: relative;

	display: grid;
	place-content: center;
	gap: 25px;

	font-size: clamp(20px, 1vw + 0.6rem, 26px);
	padding: 20px;
}

.visual {
	position: relative;
	aspect-ratio: 4 / 5;
	width: clamp(200px, 30%, 450px);
	flex-shrink: 0;

	img {
		object-fit: cover;
		object-position: 50% 80%;

		border-radius: 20px;
	}

	@include media-max(sm) {
		width: 100%;
		aspect-ratio: 16 / 9;
	}
}

.text p,
.visual {
	will-change: transform, opacity;
}