@use "@/styles/global" as *;

.inner {
	position: relative;

	overflow: hidden;
	display: flex;
	gap: clamp(20px, 4vw, 50px);
	justify-content: space-between;

	&::before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;
		scale: 1.5;

		width: 100%;
		height: 100%;

		opacity: 0;
		background-image: url("/images/backgrounds/about.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		transition: scale 1.35s ease-in-out, opacity 1.35s ease-in-out;
	}

	&.scale-bg::before {
		scale: 1;
		opacity: 0.1;
	}

	@include media-max(sm) {
		flex-direction: column;
		align-items: center;
	}
}

.text {
	position: relative;

	display: grid;
	gap: 25px;
	place-content: center;

	padding: 20px;

	font-size: clamp(20px, 1vw + 0.6rem, 26px);
}

.visual {
	position: relative;
	flex-shrink: 0;
	aspect-ratio: 4 / 5;
	width: clamp(200px, 30%, 450px);

	img {
		border-radius: 20px;
		object-fit: cover;
		object-position: 50% 80%;
	}

	@include media-max(sm) {
		aspect-ratio: 16 / 9;
		width: 100%;
	}
}

.text p,
.visual {
	will-change: transform, opacity;
}