.map {
  overflow: hidden;
  margin-bottom: 32px;
  border-radius: 16px;
}

.mapCard {
  display: flex;
  flex-direction: column;
  gap: 5px;

  max-width: 240px;

  font-size: 14px;
  line-height: 1.4;

  p {
    margin: 0;
  }
}

.mapImg {
  width: 100%;
  height: 140px;
  margin-bottom: 8px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.title {
  font-size: 16px;
  font-weight: 600;
}