@mixin tokens-colors {
  /* Base Colors */
  --background: oklch(100% 0 0);
  --foreground: oklch(25% 0 0);

  /* Hues */
  --hue-green: 145;
  --hue-red: 35;
  --hue-blue: 245;
  --hue-cyan: 210;
  --hue-purple: 290;
  --hue-indigo: 275;
  --hue-sky: 220;
  --hue-yellow: 85;
  --hue-orange: 45;
  --hue-grey: 250;
  --hue-link: 260;

  /* Green */
  --green-soft: oklch(96% 0.04 var(--hue-green));
  --green-light: oklch(63% 0.16 var(--hue-green));
  --green-dark: oklch(47% 0.10 var(--hue-green));

  /* Red */
  --red-soft: oklch(55% 0.16 var(--hue-red));
  --red-light: oklch(60% 0.23 var(--hue-red));
  --red-dark: oklch(53% 0.25 var(--hue-red));

  /* Blue */
  --blue-soft: oklch(88% 0.08 var(--hue-cyan));
  --blue-light: oklch(63% 0.16 var(--hue-blue));
  --blue-dark: oklch(38% 0.08 var(--hue-blue));

  /* Purple */
  --purple-soft: oklch(95% 0.03 var(--hue-purple));
  --purple-light: oklch(55% 0.22 var(--hue-purple));

  /* Indigo */
  --indigo-light: oklch(48% 0.24 var(--hue-indigo));
  --indigo-dark: oklch(38% 0.20 var(--hue-indigo));

  /* Sky */
  --sky-soft: oklch(95% 0.03 var(--hue-sky));
  --sky-light: oklch(58% 0.13 var(--hue-sky));

  /* Yellow */
  --yellow-soft: oklch(95% 0.06 var(--hue-yellow));
  --yellow-light: oklch(88% 0.11 var(--hue-yellow));
  --yellow-dark: oklch(78% 0.16 var(--hue-yellow));

  /* Orange */
  --orange-soft: oklch(94% 0.03 var(--hue-orange));
  --orange-light: oklch(58% 0.18 var(--hue-orange));

  /* Grey */
  --grey-soft: oklch(98% 0.01 var(--hue-grey));
  --grey-light: oklch(94% 0.01 var(--hue-grey));
  --grey-dark: oklch(65% 0.03 var(--hue-grey));
  --grey-deep: oklch(38% 0.04 var(--hue-grey));

  /* Links (Blue accent) */
  --link-clr: oklch(54% 0.24 var(--hue-link));
  --link-clr-hover: oklch(46% 0.25 var(--hue-link));
}