.about {
	padding: 50px 0;
	background: white;
}

.inner {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}


.text {
	position: relative;
  background: transparent;
  border: none;
  color: inherit;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 10px;

	font-size: 28px;

	width: 50%;

	padding: 10px;

	border-radius: 12px;
	
  p {
    mix-blend-mode: difference;
    color: white;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
  }
}

.decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: black;
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
  z-index: 0;
}

.visual {
	height: auto;
	border-radius: 20px;

	img {
		border-radius: 20px;
		height: 100%;
	}
}