// Travels/TravelCard/TravelCard.module.scss
@use "@/styles/global" as *;

.card {
  cursor: pointer;

  container-type: size;
  display: flex;
  flex-direction: column;

  height: 100%;
  border-radius: inherit;

  background: white;
}

.inner {
  overflow: hidden;
  display: flex;

  height: 100%;
  border-radius: 12px;

  background: white;

  .grid & {
    @include media-min(xl) {
      // Высокая карточка
      @container (min-height: 301px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 60%;
        }
      }

      // Широкая карточка
      @container (min-width: 494px) {
        flex-direction: row;

        .imageWrapper {
          width: 65%;
          height: 100%;
        }
      }
    }

    @include media-between(lg, xl) {
      // Обычная карточка
      @container (max-height: 351px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 50%;
        }
      }

      // Высокая карточка
      @container (min-height: 351px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 70%;
        }
      }

      // Широкая карточка
      @container (min-width: 700px) {
        flex-direction: row;

        .imageWrapper {
          width: 65%;
          height: 100%;
        }
      }
    }

    @include media-between(md, lg) {
      // Обычная карточка
      @container (max-height: 301px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 40%;
        }
      }

      // Высокая карточка
      @container (min-height: 301px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 60%;
        }
      }

      // Широкая карточка
      @container (min-width: 570px) {
        flex-direction: row;

        .imageWrapper {
          width: 55%;
          height: 100%;
        }
      }
    }

    @include media-between(sm, md) {
      // Обычная карточка
      @container (max-width: 430px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 50%;
        }
      }

      // Широкая карточка
      @container (min-width: 431px) {
        flex-direction: row;

        .imageWrapper {
          width: 60%;
          height: 100%;
        }
      }
    }

    @include media-between(xs, sm) {
      // Обычная карточка
      @container (max-width: 430px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 40%;
        }
      }

      // Широкая карточка
      @container (min-width: 431px) {
        flex-direction: row;

        .imageWrapper {
          width: 50%;
          height: 100%;
        }
      }
    }
  }

  .list & {
    display: flex;
  }
}

.imageWrapper {
  position: relative;
  flex-shrink: 0;
  width: 50%;

  [data-mode="modal"] & {
    width: 60%;

    @include media-max(md) {
      flex-shrink: unset;
      width: 100%;
      height: 50%;
    }
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (width <=500px) {
    order: var(--image-order, 0);
  }
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;

  padding: 16px 12px;

  color: black;

  [data-mode="modal"] & {
    gap: 8px;
    padding-inline-end: 20px;
  }
}

.infoTitle {
  margin-bottom: 6px;
  font-size: var(--font-24);

  [data-mode="modal"] & {
    font-size: var(--font-40);
  }
}

.infoItem {
  display: flex;
  gap: 7px;
  align-items: center;

  [data-mode="modal"] & {
    font-size: 18px;

    @include media-max(md) {
      font-size: 16px;
    }
  }
}

.icon {
  flex-shrink: 0;
}

.infoDate {
  white-space: nowrap;

  @media (width <=500px) {
    white-space: normal;
  }
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.tooltip {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;

  font-size: 0.85rem;
  color: black;

  background-color: var(--yellow-soft);

  @include media-max(xs) {
    max-width: 300px;
  }
}

.loginButton {
  cursor: pointer;

  padding: 0;
  border: none;

  font: inherit;
  font-weight: 700;
  color: inherit;
  text-decoration: underline;

  background: none;

  @include hover {
    text-decoration: none;
  }
}