.card {
  height: 100%;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-4px);
  }

  container-type: size;
}

.inner {
  display: flex;
  height: 100%;
  background: white;

  @container (min-height: 301px) {
    flex-direction: column;

    .imageWrapper {
      width: 100%;
      height: 70%;
    }
  }

  @container (min-width: 700px) {
    flex-direction: row;

    .imageWrapper {
      width: 65%;
      height: 100%;
    }
  }
}

.imageWrapper {
  overflow: hidden;
  width: 50%;
}

.imageDecorWrapper {
  height: 100%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.info {
  padding: 16px;
  font-size: 0.95rem;
  line-height: 1.4;
  flex-grow: 1;
}
