// Travels/TravelCard/TravelCard.module.scss
@use "@/styles/global" as *;

.card {
  height: 100%;
  background: white;
  
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: inherit;

  container-type: size;
}

.inner {
  display: flex;
  height: 100%;
  background: white;
  border-radius: 12px;
  overflow: hidden;

  .grid & {
    @include media-min(xl) {

      // Высокая карточка
      @container (min-height: 301px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 60%;
        }
      }

      // Широкая карточка
      @container (min-width: 494px) {
        flex-direction: row;

        .imageWrapper {
          width: 65%;
          height: 100%;
        }
      }
    }

    @include media-between(lg, xl) {

      // Обычная карточка
      @container (max-height: 351px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 50%;
        }
      }

      // Высокая карточка
      @container (min-height: 351px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 70%;
        }
      }

      // Широкая карточка
      @container (min-width: 700px) {
        flex-direction: row;

        .imageWrapper {
          width: 65%;
          height: 100%;
        }
      }
    }

    @include media-between(md, lg) {

      // Обычная карточка
      @container (max-height: 301px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 40%;
        }
      }

      // Высокая карточка
      @container (min-height: 301px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 60%;
        }
      }

      // Широкая карточка
      @container (min-width: 570px) {
        flex-direction: row;

        .imageWrapper {
          width: 55%;
          height: 100%;
        }
      }
    }

    @include media-between(sm, md) {

      // Обычная карточка
      @container (max-width: 430px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 50%;
        }
      }

      // Широкая карточка
      @container (min-width: 431px) {
        flex-direction: row;

        .imageWrapper {
          width: 60%;
          height: 100%;
        }
      }
    }

    @include media-between(xs, sm) {

      // Обычная карточка
      @container (max-width: 430px) {
        flex-direction: column;

        .imageWrapper {
          width: 100%;
          height: 40%;
        }
      }

      // Широкая карточка
      @container (min-width: 431px) {
        flex-direction: row;

        .imageWrapper {
          width: 50%;
          height: 100%;
        }
      }
    }
  }

  .list & {
    display: flex;
  }
}

.imageWrapper {
  position: relative;
  width: 50%;
  flex-shrink: 0;

  [data-mode="modal"] & {
    width: 60%;

    @include media-max(md) {
      width: 100%;
      height: 50%;
      flex-shrink: unset;
    }
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (width <=500px) {
    order: var(--image-order, 0);
  }

  // &:before {
  //   content: "";
  //   position: absolute;
  //   left: 7px;
  //   top: 8px;
  //   width: calc(100% - 13px);
  //   height: calc(100% - 16px);
  //   border-radius: 12px;
  //   outline: 5px solid green;
  // }

  // .image {
  //   opacity: 0.1 !important;
  // }
}

.info {
  padding: 16px 12px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;

  color: black;

  // opacity: 0.1 !important;

  [data-mode="modal"] & {
    gap: 8px;
    padding-inline-end: 20px;
  }
}

.infoTitle {
  font-size: var(--font-24);
  margin-bottom: 6px;

  [data-mode="modal"] & {
    font-size: var(--font-40);
  }
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 7px;

  [data-mode="modal"] & {
    font-size: 18px;

    @include media-max(md) {
      font-size: 16px;
    }
  }
}

.icon {
  flex-shrink: 0;
}

.infoDate {
  white-space: nowrap;

  @media (width <=500px) {
    white-space: normal;
  }
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.tooltip {
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;

  color: black;
  background-color: var(--yellow-soft);

  @include media-max(xs) {
    max-width: 300px;
  }
}

.loginButton {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;

  @include hover {
    text-decoration: none;
  }
}