@use "@/styles/global" as *;

.featuresList {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  padding: 48px 32px;

  &:nth-of-type(even) {
    .bgDecor {
      right: 0;
      left: unset;
      justify-content: end;
    }
  }
}

.inner {
  position: relative;

  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.bgDecor {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  display: flex;

  width: 600px;
  height: 100%;

  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &[data-type="map"] {
    background-image: url("/images/backgrounds/features-map.svg");
  }

  &[data-type="stats"] {
    background-image: url("/images/backgrounds/features-stats.svg");
  }

  &[data-type="form"] {
    background-image: url("/images/backgrounds/features-form.svg");
  }
}

.text {
  position: relative;

  h3 {
    margin-bottom: 1rem;
    font-size: var(--font-32);
  }

  p {
    font-size: var(--font-18);
    text-wrap: balance;
  }
}

.imageWrapper {
  display: flex;
  flex-shrink: 0;
  width: 50%;
  height: 100%;

  img {
    position: relative !important;
  }
}

@include media-min(md) {
  .section {
    &:nth-of-type(even) {
      .text {
        order: 1;
      }
    }
  }
}

@include media-max(md) {
  .featuresList {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .section {
    padding: 0;
    padding-top: 40px;
  }

  .inner {
    flex-direction: column;
    text-align: center;
  }

  .text {
    padding-inline: 5vw;
  }

  .imageWrapper {
    width: 100%;
  }
}