@use "@/styles/mixins" as *;

.modes {
  display: flex;
  gap: 16px;
}

.modeCard {
  border-radius: 16px;
  padding: 18px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.icon {
  display: inline-grid;
  place-items: center;

  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;

  margin: 0;
  margin-bottom: 8px;
}

.text {
  margin: 0;
  margin-bottom: 14px;
  opacity: 0.9;
}

.badge {
  width: fit-content;
  margin: 0;
  padding: 6px 10px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1;

  border-radius: 20px;

  color: var(--purple-dark);
  background: var(--background-light);
  border: 1px solid var(--background-dark);
}

@include media-max(md) {
  .modes {
    flex-direction: column;
  }
}