@use "@/styles/global" as *;

.cardList {
  display: flex;
  gap: 16px;
}

.card {
  @include card;
}

.icon {
  display: inline-grid;
  place-items: center;

  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  margin-bottom: 8px;
  font-size: var(--font-18);
}

.text {
  margin: 0;
  margin-bottom: 14px;
  opacity: 0.9;
}

.badge {
  width: fit-content;
  margin: 0;
  padding: 6px 10px;
  border: 1px solid var(--indigo-dark);
  border-radius: 20px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: var(--indigo-dark);
}

@include media-max(md) {
  .cardList {
    flex-direction: column;
  }
}

@include media-max(xs) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}