:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary-red: #fe0000;
  --color-primary-orange: #fe822a;
  --color-primary-blue: #006D77;
  --color-primary-green: #049e02;

  --color-soft-red: #FFDDD2;
  --color-soft-blue: #e0e8ff;
  --color-soft-orange: #fcfbdc;
  --color-soft-green: #83C5BE;

  --header-h: 60px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: var(--foreground);
  background: var(--background);
} */

body {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(0, 1500px) minmax(16px, 1fr);
  min-height: 100svh;
}

.layout {
  grid-column: 2;

  display: flex;
  flex-direction: column;
}

header {
  height: var(--header-h);
}

main {
  flex-grow: 1;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}



a {
  color: inherit;
  text-decoration: none;
}
