:root {
  --font-body: 'Nunito', sans-serif;
  --font-heading: 'Readex Pro', sans-serif;

  --background: #ffffff;
  --foreground: #171717;

  /* Основные */
  --color-green: #317039;
  --color-yellow: #F1BE49;
  --color-red: #CC4B24;

  /* Hover */
  --color-green-hover: #275D30;
  --color-yellow-hover: #D9A931;
  --color-red-hover: #B43F1F;

  /* Active */
  --color-green-active: #1D4C24;
  --color-yellow-active: #C18F24;
  --color-red-active: #9D331A;

  /* Фоны */
  --color-bg-beige: #F8EDD9;
  --color-bg-papaya: #FFF1D4;
  --color-bg-light: #FFFBEA;

  --header-h: 60px;



  --green-soft: #E8F9DF;
  --green-light: #A9EA87;
  --green-dark: #71DD37;

  --red-soft: #FFE0DB;
  --red-light: #FF8B77;
  --red-dark: #FF3E1D;

  --blue-soft: #9AE7F7;
  --blue-light: #00719a;
  --blue-dark: #00456e;

  --purple-soft: #C3C4FF;
  --purple-light: #5154e7;
  --purple-dark: #3336c9;

  --yellow-soft: #FFE5B4;
  --yellow-light: #FFD480;
  --yellow-dark: #FFB318;

  --grey-soft: #EBEDF0;
  --grey-light: #8592A3;
  --grey-dark: #8592A3;

  /* Fonts */
  --input-font-size: 14px;
  --input-color: black;
  --input-focus-color: var(--purple-dark);

  --gmpx-font-size-base: var(--input-font-size);
  --gmpx-color-on-surface: var(--input-color);
  --gmpx-color-primary: var(--input-focus-color);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}

body {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(0, 1500px) minmax(16px, 1fr);
  min-height: 100svh;

  color: var(--foreground);
  background: var(--background);

  font-family: var(--font-body);
}

header {
  height: var(--header-h);
}

.layout {
  grid-column: 2;

  display: flex;
  flex-direction: column;
  padding-top: var(--header-h);
}

main {
  flex-grow: 1;
  padding-bottom: 100px;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h2 {
  position: relative;
  font-size: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.icon--filled {
  color: gold;
  fill: gold;
}

.icon--outlined {
  color: #ccc;
  fill: #ccc;
}

.react-datepicker-wrapper {
  width: 100%;
}