@use "@/styles/mixins" as *;
@use "@/styles/layout/button" as *;
@use "@/styles/tokens/colors" as *;
@use "@/styles/tokens/fonts" as *;

:root {
  --font-body: 'Nunito', sans-serif;
  --font-heading: 'Readex Pro', sans-serif;

  --background: #ffffff;
  --foreground: #171717;

  --layout-width: 1500px;
  --layout-padding: 4vw;


  @include tokens-colors;
  @include tokens-fonts;

  --header-h: 60px;

  /* Fonts */
  --input-font-size: 14px;
  --input-color: black;
  --input-focus-color: var(--purple-dark);

  --gmpx-font-size-base: var(--input-font-size);
  --gmpx-color-on-surface: var(--input-color);
  --gmpx-color-primary: var(--input-focus-color);

  @include media-max(lg) {
    --layout-padding: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  color: var(--foreground);
  background: var(--background);

  font-family: var(--font-body);
}

.layout-section {
  display: grid;
  grid-template-columns:
    minmax(var(--layout-padding), 1fr) minmax(0, var(--layout-width)) minmax(var(--layout-padding), 1fr);
}

.layout-inner {
  grid-column: 2;
  width: 100%;
}

main {
  padding-top: var(--header-h);
  flex-grow: 1;
  padding-bottom: 100px;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h2 {
  position: relative;
  font-size: var(--font-50);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  &:disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
  }
}

.icon--filled {
  color: gold;
  fill: gold;
}

.icon--outlined {
  color: #ccc;
  fill: #ccc;
}

.react-datepicker-wrapper {
  width: 100%;
}