@use "@/styles/global" as *;
@use "@/styles/tokens/colors" as *;
@use "@/styles/tokens/fonts" as *;

:root {
  @include tokens-colors;
  @include tokens-fonts;

  --layout-width: 1500px;
  --layout-padding: 4vw;

  --header-h: 60px;

  @include media-max(lg) {
    --layout-padding: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden !important;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  color: var(--foreground);
  background: var(--background);

  font-family: var(--font-body);
}

.layout-section {
  display: grid;
  grid-template-columns:
    minmax(var(--layout-padding), 1fr) minmax(0, var(--layout-width)) minmax(var(--layout-padding), 1fr);
}

.layout-inner {
  grid-column: 2;
  width: 100%;
}

main {
  padding-block-start: var(--header-h);
  padding-block-end: clamp(60px, 10vh, 100px);

  flex-grow: 1;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}