@use "@/styles/global" as *;
@use "@/styles/tokens/colors" as *;
@use "@/styles/tokens/fonts" as *;

:root {
  @include tokens-colors;
  @include tokens-fonts;

  --layout-width: 1500px;
  --layout-padding: 4vw;
  --header-h: 60px;

  @include media-max(lg) {
    --layout-padding: 1rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    animation-duration: 0s !important;
  }
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;

  &.no-scroll {
    overflow: hidden !important;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100svh;

  font-family: var(--font-body);
  color: var(--foreground);

  background: var(--background);
}

.layout-section {
  display: grid;
  grid-template-columns:
    minmax(var(--layout-padding), 1fr) minmax(0, var(--layout-width)) minmax(var(--layout-padding), 1fr);
}

.layout-inner {
  grid-column: 2;
  width: 100%;
}

main {
  overflow: hidden;
  flex-grow: 1;
  padding-block: var(--header-h) clamp(60px, 10vh, 100px);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}