@use "@/styles/layout/elements" as *;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  text-wrap: balance;

  h1 {
    margin-bottom: 30px;
    font-size: var(--font-50);
  }

  p {
    margin-bottom: 40px;
  }

  .link {
    @include link;
  }
}
