// components/Header.module.scss

@use "@/styles/global" as *;

.header {
	height: var(--header-h);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: all 0.3s ease;

	background-color: transparent;
	border-radius: 0 0 12px 12px;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fixed {
	position: fixed;
	background-color: white;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

	.title,
	.link {
		color: black;
	}
}

.title {
	font-weight: 700;
	font-size: var(--font-24);
	color: white;
	white-space: nowrap;

	pointer-events: none;
}

.nav {
	height: 100%;

	display: flex;
	align-items: center;
	gap: clamp(10px, 2vw, 50px);
}

.list {
	display: flex;
	gap: 10px;

	&::before {
		content: "";
		position: absolute;

		height: 2px;
		bottom: 13px;

		background-color: var(--blue-soft);

		left: anchor(--active left);
		right: anchor(--active right, 0);
		transition: left 0.3s, right 0.3s;

		.fixed & {
			background-color: var(--blue-light);
		}
	}
}

.link {
	font-size: var(--font-18);
	font-weight: 700;
	transition: color 0.1s ease;
	color: white;

	&:hover,
	&:active,
	&.active {
		color: var(--blue-soft);

		.fixed & {
			color: var(--blue-light);
		}
	}

	&.active {
		anchor-name: --active;
	}
}

.menuWrapper {
	--link-w: 130px;
	--icon-size: 40px;
	--anim-dur: 0.2s;

	--btn-color: white;
	--btn-bg: #{rgba(#8592a3, 0.5)};
	--btn-border: transparent;

	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 100%;

	background: none;
	box-shadow: none;

	&.isFixed {
		--btn-color: black;
		--btn-bg: transparent;
		--btn-border: black;
	}

	&.isOpen {
		--btn-color: white;
		--btn-bg: black;
		--btn-border: black;

		.menu {
			pointer-events: auto;
		}

		.menuItem {
			opacity: 1;
			translate: 0 0;
		}
	}
}

.menuButton {
	font-family: var(--font-body);
	font-weight: 700;

	display: flex;
	align-items: center;
	gap: 5px;

	padding: 0.5em 10px;

	color: var(--btn-color);
	background-color: var(--btn-bg);
	border: 1px solid var(--btn-border);

	border-radius: 8px;
	cursor: pointer;

	transition-property: color, background-color, border-color;
	transition-duration: var(--anim-dur);
	transition-timing-function: ease-in;

	@include hover {
		--btn-color: white;
		--btn-bg: black;
		--btn-border: black;
	}

	&:active {
		--btn-color: white;
		--btn-bg: black;
		--btn-border: black;
	}
}

.menuAvatar {
	width: 30px;
	aspect-ratio: 1;
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.menuName {
	font-size: var(--font-16);
	font-weight: 600;
}

.menu {
	position: absolute;
	top: 100%;
	right: 0;

	width: 100%;
	padding-top: 5px;

	display: flex;
	align-items: end;
	flex-direction: column;
	gap: 16px;

	z-index: 10;

	cursor: auto;
	pointer-events: none;
}

.menuItem {
	appearance: none;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;

	position: relative;

	width: var(--icon-size);
	height: var(--icon-size);
	border-radius: 50%;


	@include hover {
		.menuItemIcon {
			color: black;
			background: white;
		}

		.menuItemText {
			opacity: 1;
			translate: 0 0;
		}
	}

	opacity: 0;
	translate: 0 5px;

	transition: 
		opacity 0.25s ease,
		translate 0.25s ease;
	transition-delay: 0s;

	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			transition-delay: #{($i - 1) * 0.05}s;
		}
	}
}

.menuItemText {
	font-family: var(--font-body);
	font-size: var(--font-16);
	font-weight: 700;

	position: absolute;
	top: 0;
	right: 0;

	display: flex;
	align-items: center;

	width: var(--link-w);
	height: var(--icon-size);
	padding-inline: 10px var(--icon-size);

	color: white;
	background: var(--grey-dark);

	z-index: -1;
	pointer-events: none;

	white-space: nowrap;
	border-radius: 20px;

	opacity: 0;
	translate: 10px 0;

	transition-property: opacity, translate, border-color;
	transition-duration: var(--anim-dur);
	transition-timing-function: ease-in-out;
}

.menuItemIcon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--icon-size);
	height: var(--icon-size);

	color: white;
	background-color: black;
	border: 2px solid black;

	border-radius: 50%;

	transition-property: color, background-color;
	transition-duration: var(--anim-dur);
	transition-timing-function: ease-in-out;
}

.menuItemIconReverse {
	color: black;
	background-color: white;
}

.menuItemMob {
	display: none;
}

.menuBurger {
	display: none;
}

@include media-max(sm) {
	.title {
		pointer-events: all;
	}

	.menuWrapper {
		--icon-size: 30px;

		--btn-color: white;
		--btn-bg: transparent;
		--btn-border: transparent;

		&.isFixed {
			--btn-color: black;
			--btn-bg: transparent;
			--btn-border: transparent;
		}

		&.isOpen {
			--btn-color: white;
			--btn-bg: black;
			--btn-border: black;

			.menu {
				backdrop-filter: blur(3px);
			}

			.menuItemText {
				opacity: 1;
				translate: 0 0;
			}
		}

		&.isLogged {
			--btn-color: transparent;
			--btn-bg: transparent;
			--btn-border: transparent;

			.menuBurger {
				display: none;
			}
		}
	}

	.menuName {
		display: none;
	}

	.menuButton {
		width: var(--icon-size);
		height: var(--icon-size);

		display: grid;
		place-items: center;
		padding: 0;

		&:active {
			--btn-color: inherit;
			--btn-bg: inherit;
			--btn-border: inherit;
		}
	}

	.menu {
		right: calc(var(--layout-padding) * -1);
		padding-right: var(--layout-padding);

		align-items: flex-end;
		width: 100vw;
		padding-bottom: 30px;
	}

	.menuBurger {
		display: flex;
	}

	.menuItem:not(.menuItemMob) {
		width: auto;
		height: auto;
		display: flex;
	}

	.menuItemText {
		position: relative;
		padding: 10px;
		inset: unset;
		width: 130px;
		height: auto;

		padding-inline: 10px calc(var(--icon-size) + 12px);
	}

	.menuItemIcon {
		position: absolute;
		right: 0;
		top: 50%;
		translate: 0 -50%;
		padding: 4px;
	}
}

@include media-max(xs) {
	.list {
		display: none;
	}

	.menuItemMob {
		width: auto;
		height: auto;
		display: flex;
	}
}