// components/Header.module.scss

@use "@/styles/global" as *;

.header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;

	width: 100%;
	height: var(--header-h);
	border-radius: 0 0 12px 12px;

	background-color: transparent;

	transition: all 0.3s ease;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fixed {
	position: fixed;
	background-color: white;
	box-shadow: 0 4px 12px rgb(0 0 0 / 10%);

	.title,
	.link {
		color: black;
	}
}

.title {
	user-select: none;

	font-size: var(--font-24);
	font-weight: 700;
	color: white;
	white-space: nowrap;
}

.nav {
	display: flex;
	gap: clamp(10px, 2vw, 50px);
	align-items: center;
	height: 100%;
}

.list {
	display: flex;
	gap: 10px;

	&::before {
		content: "";

		position: absolute;
		right: anchor(--active right, 0);
		bottom: 13px;
		left: anchor(--active left);

		height: 2px;

		background-color: var(--blue-soft);

		transition: left 0.3s, right 0.3s;

		.fixed & {
			background-color: var(--blue-light);
		}
	}
}

.link {
	font-size: var(--font-18);
	font-weight: 700;
	color: white;
	transition: color 0.1s ease;

	&:hover,
	&:active,
	&.active {
		color: var(--blue-soft);

		.fixed & {
			color: var(--blue-light);
		}
	}

	&.active {
		anchor-name: --active;
	}
}

.menuWrapper {
	--link-w: 130px;
	--icon-size: 40px;
	--anim-dur: 0.2s;
	--btn-color: white;
	--btn-bg: rgb(from var(--grey-dark) r g b / 50%);
	--btn-border: transparent;

	cursor: pointer;

	position: relative;

	display: flex;
	align-items: center;

	height: 100%;

	background: none;
	box-shadow: none;

	// transition: color, background-color, border-color;
	// transition-duration: 0.2s;
	// transition-timing-function: ease;

	&.isFixed {
		--btn-color: black;
		--btn-bg: transparent;
		--btn-border: black;
	}

	&.isOpen {
		--btn-color: white;
		--btn-bg: black;
		--btn-border: black;

		.menu {
			pointer-events: auto;
		}

		.menuItem {
			translate: 0 0;
			opacity: 1;
		}
	}
}

.menuButton {
	cursor: pointer;

	display: flex;
	gap: 5px;
	align-items: center;

	padding: 0.5em 10px;
	border: 1px solid var(--btn-border);
	border-radius: 8px;

	font-family: var(--font-body);
	font-weight: 700;
	color: var(--btn-color);

	background-color: var(--btn-bg);

	transition-timing-function: ease-in;
	transition-duration: var(--anim-dur);
	transition-property: color, background-color, border-color;

	@include hover {
		--btn-color: white;
		--btn-bg: black;
		--btn-border: black;
	}

	&:active {
		--btn-color: white;
		--btn-bg: black;
		--btn-border: black;
	}
}

.menuAvatar {
	overflow: hidden;
	flex-shrink: 0;

	aspect-ratio: 1;
	width: 30px;
	border-radius: 50%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.menuName {
	font-size: var(--font-16);
	font-weight: 600;
}

.menu {
	pointer-events: none;
	cursor: auto;

	position: absolute;
	z-index: 10;
	top: 100%;
	right: 0;

	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: end;

	width: 100%;
	padding-top: 5px;
}

.menuItem {
	cursor: pointer;

	position: relative;
	translate: 0 5px;

	width: var(--icon-size);
	height: var(--icon-size);
	border: none;
	border-radius: 50%;

	appearance: none;
	opacity: 0;
	background: transparent;
	outline: none;

	transition: 
		opacity 0.25s ease,
		translate 0.25s ease;
	transition-delay: 0s;


	@include hover {
		.menuItemIcon {
			color: black;
			background: white;
		}

		.menuItemText {
			translate: 0 0;
			opacity: 1;
		}
	}

	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			transition-delay: #{($i - 1) * 0.05}s;
		}
	}
}

.menuItemText {
	pointer-events: none;

	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	translate: 10px 0;

	display: flex;
	align-items: center;

	width: var(--link-w);
	height: var(--icon-size);
	padding-inline: 10px var(--icon-size);
	border-radius: 20px;

	font-family: var(--font-body);
	font-size: var(--font-16);
	font-weight: 700;
	color: white;
	white-space: nowrap;

	opacity: 0;
	background: var(--grey-deep);

	transition-timing-function: ease-in-out;
	transition-duration: var(--anim-dur);
	transition-property: opacity, translate, border-color;
}

.menuItemIcon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--icon-size);
	height: var(--icon-size);
	border: 2px solid black;
	border-radius: 50%;

	color: white;

	background-color: black;

	transition-timing-function: ease-in-out;
	transition-duration: var(--anim-dur);
	transition-property: color, background-color;
}

.menuItemIconReverse {
	color: black;
	background-color: white;
}

.menuItemMob {
	display: none;
}

.menuBurger {
	display: none;
}

@include media-max(sm) {
	.menuWrapper {
		--icon-size: 30px;
		--btn-color: white;
		--btn-bg: transparent;
		--btn-border: transparent;

		&.isFixed {
			--btn-color: black;
			--btn-bg: transparent;
			--btn-border: transparent;
		}

		&.isOpen {
			--btn-color: white;
			--btn-bg: black;
			--btn-border: black;

			.menu {
				backdrop-filter: blur(3px);
			}

			.menuItemText {
				translate: 0 0;
				opacity: 1;
			}
		}

		&.isLogged {
			--btn-color: transparent;
			--btn-bg: transparent;
			--btn-border: transparent;

			.menuBurger {
				display: none;
			}
		}
	}

	.menuName {
		display: none;
	}

	.menuButton {
		display: grid;
		place-items: center;

		width: var(--icon-size);
		height: var(--icon-size);
		padding: 0;

		&:active {
			--btn-color: inherit;
			--btn-bg: inherit;
			--btn-border: inherit;
		}
	}

	.menu {
		right: calc(var(--layout-padding) * -1);

		align-items: flex-end;

		width: 100vw;
		padding-right: var(--layout-padding);
		padding-bottom: 30px;
	}

	.menuBurger {
		display: flex;
	}

	.menuItem:not(.menuItemMob) {
		display: flex;
		width: auto;
		height: auto;
	}

	.menuItemText {
		position: relative;
		inset: unset;

		width: 130px;
		height: auto;
		padding: 10px;
		padding-inline: 10px calc(var(--icon-size) + 12px);
	}

	.menuItemIcon {
		position: absolute;
		top: 50%;
		right: 0;
		translate: 0 -50%;

		padding: 4px;
	}
}

@include media-max(xs) {
	.list {
		display: none;
	}

	.menuItemMob {
		display: flex;
		width: auto;
		height: auto;
	}
}