.header {
	background-color: transparent;
	border-radius: 0 0 12px 12px;
}

.header {
	height: var(--header-h);
  position: absolute;
  top: 0;
	left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s ease;

	display: grid;
	grid-template-columns: minmax(16px, 1fr) minmax(0, 1500px) minmax(16px, 1fr);

	.inner {
		grid-column: 2;
	}
}

.inner {
	display: flex;
			align-items: center;
			justify-content: space-between;
}

.fixed {
  position: fixed;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

	.title,
	.link {
		color: black;
	}
}

.title {
	font-weight: 700;
	font-size: 24px;
	color: white;
	// color: black;
}

.nav {
	display: flex;
	align-items: center;
	gap: 50px;
}

.list {
	display: flex;
	gap: 10px;
}

.link {
	font-size: 18px;
	font-weight: 700;
	transition: color 0.1s ease;

  // color: --blue-soft;
	color: white;

  &:hover {
    color: var(--blue-light);
  }

  &:active {
    color: var(--blue-dark);
  }

	&.active {
    color: var(--blue-dark);
	}
}