.modal {
  pointer-events: none;

  position: fixed;
  z-index: 1000;
  inset: 0;
  transform: scale(1.05);

  display: grid;
  place-items: center;

  width: 100%;
  height: 100%;
  border: none;

  opacity: 0;
  background: rgb(0 0 0 / 45%);

  transition: opacity 0.25s ease, transform 0.25s ease;
}

.visible {
  pointer-events: auto;
  transform: scale(1);
  opacity: 1;
}

.modalContent {
  position: relative;

  width: 90%;
  max-width: 400px;
  padding: 30px;
  border-radius: 12px;

  text-align: center;

  background-color: var(--background);
  box-shadow: 0 10px 30px rgb(0 0 0 / 25%);

  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.previewImage {
  width: 280px;
  height: 140px;
  margin-top: 10px;
  margin-inline: auto;

  img {
    position: relative !important;
    border-radius: 6px;
    object-fit: cover;
  }
}

.closeButton {
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;

  border: none;

  font-size: 24px;
  color: var(--text-color, #333);

  background: none;
}

.link {
  display: inline-flex;
  margin-top: 20px;
  text-decoration: none;
}
