@use "@/styles/global" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;

}

.card {
  @include card;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.videoWrap {
  width: 100%;
  height: 240px;

  @include media-max(lg) {
    height: 200px;
  }

  @include media-max(md) {
    height: 300px;
  }

  @include media-max(sm) {
    height: 240px;
  }

  @include media-max(xs) {
    height: 150px;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.content {
  padding: 1rem;

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}

@include media-max(md) {
  .grid {
    grid-template-columns: 1fr;
  }

  // .video {
  //   object-position: right;

  //   &[data-video="search"] {
  //     object-position: left;
  //   }
  // }
}