@use "@/styles/global" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(70px, 8vw, 100px);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: clamp(1rem, 10vw, 8rem);

  a {
    @include link;
  }

  &--wide {
    padding-inline: 5vw;
  }

  @include media-max(xs) {
    padding-inline: 0;
  }
}

.title {
  margin-bottom: 2rem;
  font-size: var(--font-50);
  text-align: center;
}

.subtitle {
  margin-bottom: 2rem;
  font-size: var(--font-40);
  text-align: center;
}

.intro {
  .lead {
    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: var(--font-18);
    line-height: 1.6;
  }
}

.project {
  .projectContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    align-items: start;
  }

  .projectText {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;

    height: 100%;

    font-size: var(--font-18);
    line-height: 1.6;
  }

  .projectImage {
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .links {
    margin-top: 0.8rem;
  }

  @include media-max(md) {
    .projectContent {
      grid-template-columns: 1fr;
      gap: 26px;
    }
  }
}

.techList {
  display: flex;
  flex-direction: column;
  gap: 14px;

  font-size: var(--font-16);
  line-height: 1.6;
}

.contactsList {
  display: flex;
  gap: 50px;
  justify-content: center;

  li {
    white-space: nowrap;
  }

  @include media-max(md) {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}