@use "@/styles/global" as *;

.footer {
  width: 100%;
  border-top: 1px solid var(--grey-light);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding-block: 1.5rem;

  @include media-max(xs) {
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 1.5rem;
    text-align: center;
  }
}

.copyright {
  font-size: var(--font-16);
  color: black;
}

.linkWrapper {
  display: flex;
  gap: 14px;
}

.link {
  @include link;

  font-size: var(--font-16);
  color: black;

  @include hover {
    color: var(--blue-dark);
  }

  &:active {
    color: var(--blue-dark);
  }
}