@use "@/styles/global" as *;

.footer {
  width: 100%;
  border-top: 1px solid var(--grey-soft);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding-block: 1.5rem;

  @include media-max(xs) {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;

    padding-block: 1rem;
  }
}

.copyright {
  font-size: var(--font-16);
  color: black;
}

.linkWrapper {
  display: flex;
  gap: 14px;
}

.link {
	font-size: var(--font-16);
  text-decoration: none;

  color: black;

  @include hover {
    color: var(--blue-dark);
  }

	&:active {
		color: var(--blue-dark);
	}
}

