// Travels/TravelModal/TravelModal.module.scss
@use "@/styles/global" as *;

.overlay {
  position: fixed;
  z-index: 10;
  inset: 0;
  background: black;
}

.modal {
  position: fixed;
  z-index: 11;
  inset: 50%;
  translate: -50% -50%;

  display: grid;
  place-items: center;

  width: 90svw;
  height: 80svh;
}

.modalInner {
  overflow: hidden;
  display: flex;

  width: 100%;
  height: 100%;
  border-radius: 12px;

  background-color: white;

  @include media-max(md) {
    flex-direction: column;
  }
}

.modalInner.deleting {
  &::before {
    content: "";

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: 3px dotted var(--red-light);
    border-radius: 12px;
  }
}

.close {
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: 12px;

  border: none;

  font-size: 24px;
  line-height: 1;

  background: none;

  @include media-max(md) {
    display: grid;
    place-items: center;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    font-size: 18px;

    background-color: var(--background);
  }
}