.button {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  border: none;
  border-radius: 10px;

  background: var(--grey-light);

  transition: background-color 0.2s ease;

  &.active {
    font-weight: bold;
  }

  svg {
    fill: currentcolor;
    stroke: currentcolor;
  }
}

.icon {
  margin-bottom: 4px;
  font-size: 24px;
}

.labelRow {
  display: flex;
  gap: 4px;
  align-items: center;
}

.label {
  font-size: 14px;
}

.arrow {
  width: 0;
  height: 0;

  &.up {
    border-right: 4px solid transparent;
    border-bottom: 6px solid currentcolor;
    border-left: 4px solid transparent;
  }

  &.down {
    border-top: 6px solid currentcolor;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

.purple.active {
  color: var(--purple-light);
  background: var(--purple-soft);
}

.green.active {
  color: var(--green-light);
  background: var(--green-soft);
}

.orange.active {
  color: var(--orange-light);
  background: var(--orange-soft);
}

.blue.active {
  color: var(--sky-light);
  background: var(--sky-soft);
}