@use "@/styles/global" as *;

.empty {
  display: block;
  margin-bottom: 30px;
  padding: 16px 20px;

  border-radius: 12px;

  color: black;
  background-color: var(--sky-soft);

  text-align: center;
  text-wrap: balance;

  p {
    margin-bottom: 8px;
  }
}

.button {
  @include link;
}