@use "@/styles/global" as *;

.empty {
  display: block;

  margin-bottom: 30px;
  padding: 16px 20px;
  border-radius: 12px;

  color: black;
  text-align: center;
  text-wrap: balance;

  background-color: var(--sky-soft);

  p {
    margin-bottom: 8px;
  }
}

.emptyButton {
  @include link;
}