.wrapper {
  cursor: grab;
  overflow: hidden;
  overscroll-behavior: contain;
  height: clamp(140px, 100px + 12vw, 340px);

  .wheel:active {
    cursor: grabbing;
  }
}

.wheel {
  --wheel-rot: -0deg;

  touch-action: none;
  will-change: transform;

  position: relative;
  left: 50%;
  transform: rotate(var(--wheel-rot));
  translate: -50% 0;

  aspect-ratio: 1;
  width: clamp(800px, 400px + 57vw, 1500px);
  border-radius: 50%;

  transition: transform .12s linear;
}

.slide {
  position: absolute;
  transform: rotate(var(--rotation));
  scale: 0.9;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  transition: scale 0.2s ease;

  &[data-active="false"] {
    .icon {
      opacity: .7;
      filter: grayscale(1) contrast(.9) brightness(.95);
      transition: filter .2s ease, opacity .2s ease;
    }
  }

  &[data-active="true"] {
    scale: 1;

    .icon {
      opacity: 1;
      filter: none;
    }

    .name {
      opacity: 1;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 3px + 0.5vw, 10px);
  align-items: center;

  max-width: clamp(150px, 120px + 4vw, 200px);

  text-align: center;
}

.iconWrapper {
  position: relative;
}

.icon {
  width: clamp(60px, 30px + 4.7vw, 120px);
  height: clamp(60px, 30px + 4.7vw, 120px);
}

.name {
  user-select: none;

  margin: 0;

  font-size: clamp(20px, 2vw + 0.6rem, 32px);
  line-height: 1;

  opacity: 0;

  transition: opacity .2s ease;
}