@use "@/styles/mixins" as *;

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.button {
  font-family: var(--font-body);
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 5px;

  padding: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: 70%;
  padding-inline: 10px;
  color: white;
  background-color: rgba(#8592a3, 0.5);
  border: 1px solid transparent;

  .fixed & {
    color: black;
    background-color: transparent;
    border-color: black;
  }

  @include hover {
    color: white;
    background-color: black;
  }

  &:active {
    color: white;
    background-color: black;
  }

  .is-open & {
    color: white;
    background-color: black;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.menu {
  --link-w: 130px;
  --icon-size: 40px;
  --gap: 16px;
  --anim-dur: 0.2s;

  position: absolute;
  top: 100%;
  right: 0;

  width: 100%;
  padding-top: 5px;

  display: flex;
  align-items: end;
  flex-direction: column;
  gap: var(--gap);

  z-index: 10;

  cursor: auto;
  pointer-events: none;

  .is-open & {
    pointer-events: auto;
  }
}

.menuItem {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;

  position: relative;

  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;

  opacity: 0;
  transform: translateY(5px);
  animation-delay: 0s;

  &:hover {
    .menuItemIcon {
      color: black;
      background: white;
    }

    .menuItemText {
      opacity: 1;
      translate: 0 0;
    }
  }

  .is-open & {
    animation: fadeUp 0.25s ease forwards;
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: #{($i - 1) * 0.05}s;
    }
  }
}

.menuItemText {
  font-family: var(--font-body);
  font-size: 15px;
  font-weight: 700;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;

  width: var(--link-w);
  height: var(--icon-size);
  padding-inline: 10px var(--icon-size);

  color: white;
  background: var(--grey-dark);

  z-index: -1;
  pointer-events: none;

  white-space: nowrap;
  border-radius: 20px;

  opacity: 0;
  translate: 10px 0;
  transition: opacity var(--anim-dur) ease-in-out,
    translate var(--anim-dur) ease-in-out;
}

.menuItemIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--icon-size);
  height: var(--icon-size);

  color: white;
  background-color: black;
  border: 2px solid black;

  border-radius: 50%;
  transition: color var(--anim-dur) ease-in-out,
    background-color var(--anim-dur) ease-in-out;
}

.menuItemIconReverse {
  color: black;
  background-color: white;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    translate: 0 5px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}